# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
storybook-static
.turbo
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# IDE
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
.pnpm-debug.log*

# Vercel
.vercel

# Chromatic
chromatic.log
build-storybook.log
chromatic-build-*.log

# Prisma
packages/db/generated

.vscode/*.worktrees/
